.header {
  height: 56px;
  max-width: 880px;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  position: relative;
  gap: 23px;
}

.header__button {
  font-size: 18px;
  font-weight: 400;
  font-family: Inter;
  background-color: #000000;
  color: #a9a9a9;
  cursor: pointer;
  border: none;
}

.header__text {
  font-size: 18px;
  font-weight: 500;
  font-family: Inter;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
}

.header__logo {
  width: 126px;
  padding-left: 27px;
  position: absolute;
  left: 0px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 74px;
    padding-left: 19px;
  }

  .header__logo {
    width: 173px;
    padding-left: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 74px;
    padding-left: 0px;
    margin-top: 48px;
  }
}
